extends layout
block content
  h1= title
  form(id='gymForm', action="/resource/gym", method="POST")
    div.form-group
      label.gymAttr(for='gym_type') Gym Person Name
      input#Gym_name(type='text', name='Gym_name')
    div.form-group
      label.gymAttr(for='size') Gym Person Gender
      input#Gym_Gender(type='text', name='Gym_Gender')
    div.form-group
      label.gymAttr(for='cost') Gym person Age
      input#Gym_Age(type='number', name='Gym_Age')
    input(type="submit")
  script.
    document.forms['gymForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
        alert("Save failed " + error )
      });
    });

