extends layout
block content
    h1= title
    - let gymid = toShow._id
    - let Gym_name = toShow.Gym_name
    - let Gym_Gender = toShow.Gym_Gender
    - let Gym_Age = toShow.Gym_Age
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{gymid}
    - let actionid = "/resource/gym/" + gymid
    form(id='gymForm', action= actionid, method="PUT")
        div.form-group
            label.gymAttr(for='Gym_name') Gym Person name
            input#Gym_name(type='text', name='Gym_name', value= Gym_name )
        div.form-group
            label.gymAttr(for='Gym_Gender') Gym Person Gender
            input#Gym_Gender(type='text', name='Gym_Gender', value= Gym_Gender )
        div.form-group
            label.gymAttr(for='Gym_Age') Gym Person Age
            input#Gym_Age(type='number', name='Gym_Age', value= Gym_Age )
        input(type="submit")
    script.
        document.forms['gymForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
                alert("Update failed " + error )
            });
        });

