body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.gymAttr {
  background-color: aquamarine;
  width: 120px;
  }
  input{
    color:royalblue;
  }
  button {
    background-color:cadetblue;
  }
  h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:40px;
    color:red

  }